/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

text {
  font: bold 48px monospace;
}

.enter {
  fill: green;
}

.update {
  fill: #333;
}

.field {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
}

.player {
  border: 1px solid red;
  fill: blue;
}

.scoreboard {
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 5px;
  font-family: 'Indie Flower', cursive;
  margin: 50px auto;
  padding: 5px;
  text-shadow: 1px 1px 1px white;
  width: 150px;
}
