/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

text {
  font: bold 48px monospace;
}

.enter {
  fill: green;
}

.update {
  fill: #333;
}

.field {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
}

.kapow {
  display: none;
  height: 50px;
  width: 50px;
}

.player {
  border: 1px solid red;
  fill: blue;
}

.scoreboard {
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 5px;
  font-family: 'Indie Flower', cursive;
  margin: 25px auto;
  padding: 5px;
  text-shadow: 1px 1px 1px white;
  width: 150px;
}

span {
  float: right;
}

path {
  fill: none;
  stroke: #000;
  stroke-width: 0px;
}

circle {
  fill: red;
  stroke: #fff;
  stroke-width: 3px;
}

.button{
  margin: 15px auto;
  width: 25px;
}